body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* header part */

.head {
    display: flex;
    flex-direction: row;
    background-color: rgb(155, 1, 1);
    padding: 20px 230px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 45px;
    color: #FA8072;
    font-family: 'Righteous', cursive;
}

.links{
    font-size: 20px;
    font-family: 'Righteous', cursive;
    align-items: center;
    display: flex;
}

ul{
    list-style-type: none;
}

li{
    float: left;
    padding: 10px;
    transition: transform 0.3s;
}

li:hover{
    transform: scale(1.2);
}

a{
    text-decoration: none;
    color:#FA8072;
}

/* hero part */
.hero{
    display: flex;
    flex-direction: row;
    background-color: rgb(155, 1, 1);
    padding: 100px 230px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.img img{
    max-width: 80%;
}

.title1{
    font-size: 33px;
    color:rgb(255, 100, 100);
    font-family: 'Righteous', cursive;
    padding: 6px;
}

.tex{
    font-size: 21px;
    color:rgb(255, 154, 154);
    font-family: 'Itim', cursive;
    padding: 9px;
    padding-bottom: 15px;
}
.button1{
    background-color:bisque;
    color: rgb(155, 1, 1);
    border: none;
    border-radius: 20px;
    font-family: 'Righteous', cursive;
    font-size: 18px;
    padding: 6px;
    transition: transform 0.3s;
    margin-bottom: 10%;
}

.button1:hover{
    transform: scale(1.2);
}

/*main part*/

/*section 1*/

.main{
    display: flex;
    flex-direction: column;
}

.section1{
    background-color: rgb(255, 168, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
    height: 400px;
}

.title2{
    font-size: 50px;
    color:rgb(139, 0, 0);
    font-family: 'Righteous', cursive;
    padding: 15px;
}

.tex2{
    font-size: 21px;
    color:rgb(124, 0, 0);
    font-family: 'Itim', cursive;
    padding: 20px;
}

.shades{
    padding: 35px;
}

.shades ul{
    display: flex;
    padding: 0;
    list-style-type: none;
    gap: 17px;
    justify-content: center;
}

.shades ul li{
    text-align: center;
}

.shades li{
    align-items: center;
    font-size: 21px;
    color:rgb(85, 0, 0);
    font-family: 'Itim', cursive;
    padding: 9px;
}

.shades ul li img{
    width: 40%;
    margin-right: 5px;
}

/* section 2 */

.section2{
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 31, 31);
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 70px;
}

.quote{
    font-size: 32px;
    color: bisque;
    font-family: 'Marck Script', cursive;
    padding: 15px;
    width: 1250px;
    margin: 0 auto;
}

.author{
    font-size: 20px;
    color: bisque;
    font-family: 'Itim', cursive;
    padding: 15px;
    margin-left: 50%;
}

/* section 3 */

.section3{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 168, 168);
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 60px;
}

.call{
    background-color: rgb(153, 31, 31);
    border: none;
    border-radius: 30px;
    padding: 60px;
    height: 100px;
    width: 800px;
    color: rgb(255, 168, 168);
    margin: 40%;
}

.title3{
    font-size: 23px;
    font-family: 'Righteous', cursive;
    padding-bottom: 10px;
}

.come{
    font-size: 17px;
    font-family: 'Itim', cursive;
    padding-bottom: 10px;
}

.button2{
    background-color:bisque;
    color: rgb(155, 1, 1);
    border: none;
    border-radius: 20px;
    font-family: 'Righteous', cursive;
    font-size: 17px;
    padding: 6px;
    transition: transform 0.3s;
}

.button2:hover{
    transform: scale(1.1);
}

/* footer */

.footer {
    display: flex;
    flex-direction: column;
    background-color: rgb(114, 0, 0);
    height: 90px;
    color:bisque;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
}