body{
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* header part */

.head {
    display: flex;
    flex-direction: row;
    background-color: rgb(155, 1, 1);
    padding: 20px 230px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 45px;
    color:rgb(255, 66, 66);
    font-family: 'Righteous', cursive;
}

.links{
    font-size: 20px;
    font-family: 'Righteous', cursive;
    align-items: center;
    display: flex;
}

ul{
    list-style-type: none;
}

li{
    float: left;
    padding: 10px;
    transition: transform 0.3s;
}

li:hover{
    transform: scale(1.2);
}

a{
    text-decoration: none;
    color:rgb(255, 66, 66);
}

/* hero part */
.hero{
    display: flex;
    flex-direction: row;
    background-color: rgb(155, 1, 1);
    padding: 100px 230px;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.img img{
    max-width: 80%;
}

.title1{
    font-size: 33px;
    color:rgb(255, 100, 100);
    font-family: 'Righteous', cursive;
    padding: 6px;
}

.tex{
    font-size: 21px;
    color:rgb(255, 154, 154);
    font-family: 'Itim', cursive;
    padding: 9px;
}
.button1{
    background-color:bisque;
    color: rgb(155, 1, 1);
    border: none;
    border-radius: 20px;
    font-family: 'Righteous', cursive;
    font-size: 18px;
    padding: 6px;
    transition: transform 0.3s;
}

.button1:hover{
    transform: scale(1.2);
}

/*main part*/

.main{
    display: flex;
    flex-direction: column;
}

.section1{
    background-color: rgb(255, 168, 168);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}

.title2{
    font-size: 50px;
    color:rgb(139, 0, 0);
    font-family: 'Righteous', cursive;
    padding: 15px;
}

.tex2{
    font-size: 21px;
    color:rgb(124, 0, 0);
    font-family: 'Itim', cursive;
    padding: 20px;
}

.shades{
    padding: 35px;
}

.shades ul{
    display: flex;
    padding: 0;
    list-style-type: none;
    gap: 17px;
    justify-content: center;
}

.shades ul li{
    text-align: center;
}

.shades li{
    align-items: center;
    font-size: 21px;
    color:rgb(85, 0, 0);
    font-family: 'Itim', cursive;
    padding: 9px;
}

.shades ul li img{
    width: 40%;
    margin-right: 5px;
}

